aws_region   = "us-east-2"
project_name = "absencesbo"

record_names = [
  "dev.tamayo.dev",
  "stg.tamayo.dev",
  "apps.tamayo.dev"
]

route53_state_bucket = "absencesbo-terraform-state"
route53_state_key    = "shared/route53/terraform.tfstate"
route53_state_region = "us-east-2"

lb_state_bucket = "absencesbo-terraform-state"
lb_state_key    = "shared/load_balancer/terraform.tfstate"
lb_state_region = "us-east-2"

tags = {
  Owner = "platform"
}
