aws_region = "us-east-2"
project_name = "absencesbo"
environment = "shared"
target_environment = "experimental"
target_component = "dev"
app_nodeport = 32322

acm_state_bucket = "absencesbo-terraform-state"
acm_state_key    = "shared/acm/terraform.tfstate"
acm_state_region = "us-east-2"

tags = {
  Owner = "platform"
}
